table {
  border-collapse: collapse;
  background: #EEF2EA;
}
thead th {
  border: 1px solid black;
  border-width: 1px 0;
  font-weight: bold;
}
td {
  text-align: right;
  padding: 0 8px;
  margin: 0;
}
table tr:last-child td {
  border-bottom: 1px solid black;
}
table tr:last-child td.back {
  border: 1px solid black;
  border-width: 1px 0;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}
.leading {
  background: rgba(0,255,0,0.1);
}
.terminal {
  background: rgba(0,255,255,0.1);
}
.divthree {
  background: rgba(0,0,255,0.1);
}
.divthree.terminal {
  background: rgba(0,0,155,0.2);
}